
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAccount.cshtml";
}
<table style="margin:0 auto">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên khách hàng:</td>
            <td>
                <input class="login" title="Tên khách hàng không được để trống" type="text" required @Html.TextBox("HotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Tên đăng nhập:</td>
            <td>
                <input class="login" title="Tên đăng nhập phải nhiều hơn 8 kí tự và ít hơn 20 kí tự" pattern="[a-zA-Z0-9]{8,20}" type="text" required @Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu:</td>
            <td>
                <input class="login" title="Mật khẩu phải hơn 8 kí tự và ít hơn 20 kí tự" pattern="[a-zA-Z0-9]{8,20}" type="password"  required @Html.Password("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Nhập lại mật khẩu:</td>
            <td>
                <input class="login" type="password" required @Html.Password("Matkhaunhaplai")
                <p>@ViewData["Loi4"]</p>
                <p>@ViewData["Loi10"]</p>
</tr>
        <tr style="height:40px">
            <td>Email:</td>
            <td>
                <input class="login" title="Địa chỉ email không được để trống" pattern="[A-Za-z0-9._+-]+[A-Za-z0-9-]+\.[a-z]{2,}" type="email"  required @Html.TextBox("Email")
                @ViewData["Loi5"]
        </tr>
        <tr style="height:40px">
            <td>Địa chỉ:</td>
            <td>
                <input class="login" type="text"  required @Html.TextBox("Diachi")

        </tr>

        <tr style="height:40px">
            <td>Điện thoại:</td>
            <td>
                <input class="login" type="text"  required @Html.TextBox("Dienthoai")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input class="btn primary input" type="submit" value="Đăng ký" />
            </td>
        </tr>

    }
</table>

